<div class="container">

  <% if user_signed_in? %>
    <%= link_to "로그아웃", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "회원가입", new_user_registration_path %>
    <%= link_to "로그인", new_user_session_path %>
  <% end %>


  <div class="row mt-5 mb-3">
    <ul>
      <% @questions.each do |question| %>
        <li><%= question.title %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "질문 등록", new_question_path %>
  <br>
</div>
