<div class="container mt-3 mb-3">
  <h3>상품 상세페이지</h3>
  <%= @item.title %> <br>
  <%= @item.description %>

  <h5>images</h5>
  <% @item.images.each do |image| %>
    <%= image_tag image.variant(resize: "100 x100") %>
  <% end %>

  <h4>댓글달기</h4>
  <%= form_for [@item, @comment] do |f| %>
    <%#= f.hidden_field :commentable_id, value: @item.id %>
    <%#= f.hidden_field :commentable_type, value: "Item" %>
    <%= f.label :body, '내용' %>
    <%= f.text_field :body %>
    <%= f.submit '작성' %>
  <% end %>

  <ul>
    <% @comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
  </ul>



  <%= form_for Order.new do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.submit "장바구니 담기" %>
  <% end %>

</div>
