<!DOCTYPE html>
<html>
  <head>
    <title>Something</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= notice %>
    <% end %>
    <%= yield %>
  </body>
</html>
